<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>labonevclass</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>AvenirNext-Bold.ttf</string>
		<string>AvenirNext-DemiBold.ttf</string>
		<string>AvenirNext-Medium.ttf</string>
		<string>AvenirNext-Regular.ttf</string>
		<string>Caladea-Regular.ttf</string>
		<string>KelsonSans-Bold.ttf</string>
		<string>KelsonSans-Light.ttf</string>
		<string>KelsonSans-Normal.ttf</string>
		<string>KelsonSansBG-Bold.ttf</string>
		<string>KelsonSansBG-Light.ttf</string>
		<string>KelsonSansBG-Normal.ttf</string>
		<string>KelsonSansRU-Bold.ttf</string>
		<string>KelsonSansRU-Light.ttf</string>
		<string>KelsonSansRU-Normal.ttf</string>
		<string>NexaText-Trial-Black.ttf</string>
		<string>NexaText-Trial-BlackItalic.ttf</string>
		<string>NexaText-Trial-Bold.ttf</string>
		<string>NexaText-Trial-BoldItalic.ttf</string>
		<string>NexaText-Trial-Book.ttf</string>
		<string>NexaText-Trial-BookItalic.ttf</string>
		<string>NexaText-Trial-ExtraBold.ttf</string>
		<string>NexaText-Trial-ExtraBoldItalic.ttf</string>
		<string>NexaText-Trial-ExtraLight.ttf</string>
		<string>NexaText-Trial-ExtraLightItalic.ttf</string>
		<string>NexaText-Trial-Heavy.ttf</string>
		<string>NexaText-Trial-HeavyItalic.ttf</string>
		<string>NexaText-Trial-Light.ttf</string>
		<string>NexaText-Trial-LightItalic.ttf</string>
		<string>NexaText-Trial-Regular.ttf</string>
		<string>NexaText-Trial-RegularItalic.ttf</string>
		<string>NexaText-Trial-Thin.ttf</string>
		<string>NexaText-Trial-ThinItalic.ttf</string>
		<string>NexaTextDemo-Bold.ttf</string>
		<string>NexaTextDemo-Light.ttf</string>
	</array>
</dict>
</plist>
